.main {
  width: 70%;
  background-color: var(--indigo);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;


  span {
    width: 100%;
    font-size: 1rem;
    font-family: var(--wordsFont);
    color: var(--creme);
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
  }

  h1 {
    font-size: 2rem;
    font-family: var(--numbersFont);
    color: var(--creme);
    font-weight: 100;
    text-align: center;
  }
}
